.elements__counter {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #000;
    grid-area: counter;
    margin-right: 27px;
    justify-self: end;
    align-self: flex-start;
}