.popup__close {
    width: 32px;
    height: 32px;
    border: none;
    padding: 0;
    background: transparent center url(../../../images/Close-Icon.svg);
    background-size: auto;
    position: absolute;
    top: -40px;
    right: -40px;
}
    
.popup__close:hover {
    cursor: pointer;
    opacity: 0.6;    
}
    
@media screen and (max-width: 539px) {
    .popup__close {
        width: 20px;
        height: 20px;
        top: -36px;
        right: 0;
    }
}