@import url(./vendor/normalize.css);
@import url(./vendor/fonts.css);
@import url(./blocks/page/page.css);
@import url(./blocks/page/__content/page__content.css);
@import url(./blocks/root/root.css);
@import url(./blocks/root/__section-header/root__section-header.css);
@import url(./blocks/root/__section-footer/root__section-footer.css);
@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/content/content.css);
@import url(./blocks/content/__section-profile/content__section-profile.css);
@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/__avatar-button/profile__avatar-button.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__info-groupe/profile__info-groupe.css);
@import url(./blocks/profile/__name/profile__name.css);
@import url(./blocks/profile/__job/profile__job.css);
@import url(./blocks/profile/__edit-button/profile__edit-button.css);
@import url(./blocks/profile/__add-button/profile__add-button.css);
@import url(./blocks/elements/elements.css);
@import url(./blocks/elements/__list/elements__list.css);
@import url(./blocks/elements/__card/elements__card.css);
@import url(./blocks/elements/__counter/elements__counter.css);
@import url(./blocks/elements/__item/elements__item.css);
@import url(./blocks/elements/__delete-button/elements__delete-button.css);
@import url(./blocks/elements/__groupe/elements__groupe.css);
@import url(./blocks/elements/__title/elements__title.css);
@import url(./blocks/elements/__like-button/elements__like-button.css);
@import url(./blocks/elements/__like-button/_active/elements__like-button_active.css);
@import url(./blocks/footer/__copyright/footer__copyright.css);
@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/popup/_theme/popup_theme_dark.css);
@import url(./blocks/popup/__close/popup__close.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__place-image/popup__place-image.css);
@import url(./blocks/popup/__place-title/popup__place-title.css);
@import url(./blocks/popup/__place-item/popup__place-item.css);
@import url(./blocks/popup/__title/popup__title.css);
@import url(./blocks/popup/__title/_type/popup__title_type_delete.css);
@import url(./blocks/popup/__input/popup__input.css);
@import url(./blocks/popup/__input/_type/popup__input_type_avatar.css);
@import url(./blocks/popup/__input/_type/popup__input_type_delete.css);
@import url(./blocks/popup/__input-text/popup__input-text.css);
@import url(./blocks/popup/__input-text/_invalid/popup__input-text_invalid.css);
@import url(./blocks/popup/__submit-button/popup__submit-button.css);
@import url(./blocks/popup/__submit-button/_invalid/popup__submit-button_invalid.css);
@import url(./blocks/popup/__submit-button/_loading/popup__submit-button_loading.css);
@import url(./blocks/popup/__error/popup__error.css);
@import url(./blocks/popup/__error/_visible/popup__error_visible.css);